.header {
  margin-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-bottom: 41px;
}

.header__logo {
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 425px) {
  .header {
    margin-top: 28px;
    padding-bottom: 32px;
  }
  .header__logo {
    width: 126px;
    height: 24px;
    margin-left: 27px;
  }
}
