.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  /* display: flex;*/
  padding: 0 19px;

  display: none;
}

.modal_opened {
  display: flex;
}

.modal__container {
  background-color: #fff;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
  position: relative;
  width: 430px;
  height: 330px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
}

.modal__close {
  background-image: url("../images/CloseIcon.svg");
  border: none;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  background-color: transparent;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.modal__close:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modal__heading {
  width: 330px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  color: #000;
  height: 23px;
  margin-bottom: 54px;
  margin-left: 30px;
}

.modal__form {
  justify-content: center;
  display: grid;
}

.modal__input {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  color: #000;
  border: none;
  margin-bottom: 29px;
  height: 27px;
  width: 358px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.modal__input:last-of-type {
  margin-bottom: 0;
}

.modal__input::placeholder {
  color: #a9a9a9;
}

.modal__button {
  background-color: #000;
  color: #fff;
  width: 358px;
  height: 50.15px;
  border-radius: 2px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  border: none;
  cursor: pointer;
  margin-top: 48px;
  padding: 0;
  margin-bottom: 0;
}

.modal__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 630px) {
  .modal__container {
    width: 282px;
    height: 322px;
  }

  .modal__heading {
    font-size: 18px;
    width: 238px;
    height: 22px;
    margin-bottom: 75px;
  }
  .modal__input {
    width: 238px;
  }
  .modal__close {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 14px);
    left: 320px;
  }

  .modal__button {
    width: 238px;
    height: 46px;
  }
}
