.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 51px;
}

.profile__info {
  display: grid;
  grid-template-areas: "title button" "description description";
  grid-template-columns: minmax(auto, 373px) auto;
}

.profile__edit-button {
  background: transparent url(../images/editbutton.svg) center no-repeat;
  height: 24px;
  width: 24px;
  border: white 1px solid;
  padding-left: 18px;
}

.profile__add-button {
  background: transparent url(../images/plus.svg) center no-repeat;
  width: 150px;
  height: 50px;
  border: white 1px solid;
  grid-area: button;
  margin-left: auto;
  align-self: center;
}

.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
}

.profile__description {
  grid-area: description;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

.profile__image {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}
